$pink: #fdecf6;
$text-color: #444444;

.wp-block-agencykit-testimonials {
	position: relative;
	.quote {
		background: $pink;
		padding: 1em;
		color: $text-color;
	}

	.author {
		margin-top: 0;
	}
}
