.wp-block-agencykit-static-social-pwa {
	background: linear-gradient( #400080, transparent),
							linear-gradient( 200deg, #d047d1, #ff0000,    #ffff00);
	padding: 2em 1em;

	.title {
		color: white;
		a {
			color: white;
			text-transform: none;
			&:hover {
				text-transform: underline;
			}
		}
	}

	.social-links {
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
		}
	}

	.share-button {
		display: none;
	}
}
