.wp-block-agencykit-static-social-pwa {
	background: #ffff00;
	padding: 2em 1em;

	.title {
		color: white;
		a {
			color: white;
			text-transform: none;
			&:hover {
				text-transform: underline;
			}
		}
	}

	.social-links {
		padding: 1em;
		margin: 0;
		li {
			display: inline-block;
			margin: 0 1em;
		}
	}

	.share-button {
		display: none;
	}
}
