@import "@material/icon-button/mdc-icon-button";
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";

.wp-block-agencykit-static-social-pwa {
	padding: 1em;

	.mdc-button {
		text-decoration: none;
		margin-bottom: 1em;

		&:hover {
			color: white;
		}

		.entry-content & {
			text-decoration: none;

			&:hover {
				color: white;
			}
		}
	}

	.social-links {
		padding: 1em;
		margin: 0;
		li {
			display: inline-block;
			margin: 0 1em;
		}
	}

	.share-button {
		display: none;
	}
}
