@import "@material/button/mdc-button";
@import "@material/card/mdc-card";

.wp-block-agencykit-dynamic-insta  {
	padding: 2em 1em;

	.mdc-button {
		text-decoration: none;
		margin-bottom: 1em;
		.entry-content & {
			text-decoration: none;
		}
	}
}
