@import "@material/button/mdc-button";
@import "@material/card/mdc-card";

.wp-block-agencykit-dynamic-insta  {
	padding: 2em 1em;

	.mdc-button {
		text-decoration: none;
		margin-bottom: 1em;

		&:hover {
			color: white;
		}

		.entry-content & {
			text-decoration: none;

			&:hover {
				color: white;
			}
		}
	}
}
