$icon-url: '../../assets/img/instagram-icon.svg';

.wp-block-agencykit-static-insta {
	background: linear-gradient( #400080, transparent),
							linear-gradient( 200deg, #d047d1, #ff0000,    #ffff00);
	padding: 1em;

	.title {
		color: white;
		&:before {
			content: "";
			background: url($icon-url);
			height: 50px;
			width: 50px;
			background-size: contain;
		}

		a {
			color: white;
			text-transform: none;
			&:hover {
				text-transform: underline;
			}
		}
	}
}
